# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos temporales
*.pyc
__pycache__/

# Base de datos SQLite (opcional si la vas a versionar o no)
*.sqlite3
*.db

# Archivos de configuración locales
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# Archivos de logs
*.log

# MacOS
.DS_Store
